@import url(/palette.css);
@import url(/fonts.css);

body{
    background-color: var(--primary) !important;
}
.nav-sidebar{
    font-family: quicksand;
}
.btn-active {
    background-color: var(--accent)!important;
    transition: all .2s ease;
}
.main-sidebar{
    min-height: 100%!important;
    background-color: var(--secondary);
}
.main-header{
    background-color: var(--secondary)!important;
}
.brand-link {
  width: 100%;
  text-align: center;
  font-family: Josefin;
  font-size: 3rem;
}
/*
@media (min-width: 1200px), (min-width: 960px) and (-webkit-device-pixel-ratio: 1.25) {
    .container{
        width: 70vw;
    }
  }
  
html{
    height: 100vh;
    width: 100vw;
}
body{
    height: 100%;
    width: 100%;
}

.sidebar {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20vw;
    height: 300px;
    background-color: #f1f1f1;
    margin-right: 2vw;
}
.container{
    margin-right: 0;
    display: flex;
    align-items: center;
    margin-left: 0;

}
.sidebar .tablinks {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.2rem;
} 
.sidebar button:hover {
    background-color: #ddd;
}
.sidebar button.active {
    background-color: #ccc;
}
.tabcontent {
    padding: 2vh 0px;
    width: 100%;
    border-left: none;
    height: auto;
}
.redirect-product-page i{
    transition: all .2s ease;
    }
    .redirect-product-page:hover i{
        transform: translateX(5px);
    }
.edit-product-button i{
    transition: all .2s ease;
    }
    .edit-product-button:hover i{
        transform: scale(1.1)
    }
.tag-disabled{
    pointer-events: none;
    cursor: not-allowed;
    filter: grayscale(70%);
}
.Product-Feature-row{
    margin: 1.5vh 0;
    display: flex;
    gap:0.6vw
}
tr th{
    text-align: center;
}
tr td{
    text-align: center;
} */
table{
    margin-top: .3rem;
}
iframe{
    width: 800px;
    height: 600px;
}
.goto_uploader{
    padding: 1rem 1rem;
    margin: 2rem 0;
    width: clamp(400px 60% 992px);
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    transition: all .3s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: green;
    
    font-style: italic;
}
.goto_uploader:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1.2rem 1.2rem;
}
.goto_uploader>.goto_uploader__header{
    color: var(--secondary);
    font-style: normal;
    text-decoration: none;
}
.--btn-hv-red{
    margin-top: .5rem;
    background-color: var(--secondary);
    color: var(--primary);
    transition: all .2s ease;
    font-style: normal;
    text-decoration: none;
}
.--btn-hv-red:hover{
    color: var(--primary);
    background-color: var(--accent);

}
.confirm{
    color:var(--bs-primary)
}
.transit{
    color:var(--bs-warning)   
}
.delivered{
    color:var(--bs-success)
}
.cancel{
    color:var(--bs-danger)
}
.btnAction{
    background-color: transparent;
    border: none;
}
#statistic{
    position: relative;
}
.order_wrapper{
    position: absolute;
    z-index: 98;
    top: 0;
    right: 0;
    display: block;
    background-color: var(--primary);
    border-radius: 10px;
    overflow: hidden;
    width: 45%;
    /* max-height: 50%; */
    margin: 2rem 1rem;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 0;
  }
  .orderList{
    font-size: .7rem;
    overflow-y: auto;
    max-height: 80vh;
    padding: 1rem .8rem;
    padding-bottom: .6rem;
    /* display: none; */
  }
  .orderList::-webkit-scrollbar {
    width: 8px;
  }
  
  .orderList::-webkit-scrollbar-track {
  
    background-color: transparent;
  }
  
  .orderList::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 5px;
    margin-right: 3rem;
  }
  
  .orderList::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
  }
  .showbtn{
    margin-left: auto;
    height: fit-content;
    font-size: 2em;
    transition: all .1s linear;
    transform: rotate(180);
  }
  .showbtn i{
    vertical-align: middle;
  }
  .rotate {
    transform: rotate(180deg);
  }
  .top-products-wrapper{
    width: 50%;
    margin: 2rem 0;
    padding: 1rem 1rem;
    padding-bottom: 0;
    border-radius: 10px;
    background-color: var(--whiteLowContrast);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .top-products-wrapper>h4{
    margin: 0;
    padding-left: 2rem;
  }
.top-products{
    height: 20%;
    display: flex;
    align-items: flex-end;
    margin: 0;
}
.new-product{
    display: block;
    width: 30%;
    text-decoration: none;
    position: relative;
}
.new-product:nth-child(1){
    height: 100%;
    order: 2;
}
.new-product:nth-child(1)::before{
    content: '⭐';
    font-size: 2em;
    top: 0;
    left:0;
    position: absolute;
}
.new-product:nth-child(2){
    scale: 0.90;
    order: 1;
}
.new-product:nth-child(3){
    scale: 0.85;
    order: 3;
}
.order{
    font-size: .7rem;
}
.chart{
    width: 50%;
    background-color: var(--whiteLowContrast);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 1rem 1rem;
}
.text-black{
    color: var(--secondary);
}
.text-black:hover{
    color: var(--accent);
}