@import url(palette.css);
@media (min-width: 1200px), (min-width: 960px) and (-webkit-device-pixel-ratio: 1.25) {
    /* Add Styles Here */
    .container{
        width: 70vw;
    }
  }
  
html{
    height: 100vh;
    width: 100vw;
}
body{
    height: 100%;
    width: 100%;
}
/* Style the.sidetab */

.sidetab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20vw;
    height: 300px;
    background-color: #f1f1f1;
    margin-right: 2vw;
}
.container{
    margin-right: 0;
    display: flex;
    align-items: center;
    margin-left: 0;

}
/* Style the buttons inside the.sidetab */
.sidetab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.2rem;
} 
/* Change background color of buttons on hover */
.sidetab button:hover {
    background-color: #ddd;
}
/* Create an active/current .sidetab button" class */
.sidetab button.active {
    background-color: #ccc;
}
/* Style the.sidetab content */
.tabcontent {
    padding: 2vh 0px;
    /* border: 1px solid #ccc; */
    width: 100%;
    border-left: none;
    height: auto;
}
.redirect-product-page i{
    transition: all .2s ease;
    }
    .redirect-product-page:hover i{
        transform: translateX(5px);
    }
.edit-product-button i{
    transition: all .2s ease;
    }
    .edit-product-button:hover i{
        transform: scale(1.1)
    }
.tag-disabled{
    pointer-events: none;
    cursor: not-allowed;
    filter: grayscale(70%);
}
.Product-Feature-row{
    margin: 1.5vh 0;
    display: flex;
    gap:0.6vw
}
tr th{
    text-align: center;
}
tr td{
    text-align: center;
}