
:root{
    --primary:var(--white);
    --secondary: var(--black);
    --accent:var(--azure);
    --white: #f3f3f3;
    --darkblue:#003366;
    --midnight:#191970;
    --azure:#007fff;
    --black: #252526;
    --red: #A30000;
    --whiteLowContrast:#f5f5f5be;
}