<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="home.asp" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/Errors/404.asp" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
