@import url(../palette.css);
/* @font-face {
    font-family: Josefin;
    src: url(../Resources/JosefinSans-Bold.ttf);
}
@font-face {
    font-family: quicksand;
    src: url(../Resources/QuickSand/Quicksand-SemiBold.ttf);
} */
@import url(../fonts.css);
:root{
    --navHeight:10vh
}
.container-fluid{
    height: var(--navHeight);
    width: 100%;

    align-items: center;
    background-color: var(--secondary);
    color: var(--primary);
}
.navbar-expand-lg{
    color: var(--primary);
    background-color: var(--secondary);
    margin: 0;
    padding: 0;
}
.nav-item{
    height: var(--navHeight);
    display: flex;
    align-items: center;
}
.dropdown-custom{
    height: inherit;
    display: flex;
    align-items: center;
}
.brand-custom{
    font-family: Josefin;
    font: 700;
    margin-left: auto;
    color: var(--primary);
    border-radius: 4px;
    padding-left: .5rem;
    padding-right: .5rem;
    transition: all .2s;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}
.brand-custom:hover{
    background-color: var(--accent);
    color: var(--primary);
}
.nav-custom{
    color: var(--primary) !important;
    font-family: quicksand;
}
    @media only screen and (max-width:'900px') {
        .dropdown-content{
            display: none;
        }
    }
    @media (min-width: 1200px), (min-width: 960px) and (-webkit-device-pixel-ratio: 1.25) {
        /* Add Styles Here */
        .dropdown-content{
            top: var(--navHeight);
            height: fit-content;
        }
        
      }
      @media(-webkit-device-pixel-ratio: 1) {
        /* Add Styles Here */
        .dropdown-content{
            top: var(--navHeight);
            height: 20vh;
        }
      }
    .dropdown-content{
        position: fixed;
        width: 100%;
        background-color: var(--secondary);
        padding: 1rem 0;
        overflow: auto;
        cursor: pointer;
        display: none;
        flex-direction: column;
        /* top: var(--navHeight); */
        left: 0;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }
    .dropdown-content::-webkit-scrollbar{
        display:none;
    }
    .dropdown-content ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap : 3vw;
        list-style-type: none;
        margin: 0;
        padding: 0;
        flex-direction: row;
        width: inherit;
    }
    .dropdown-content ul+a {
        margin: .3rem 0;
        font-family: quicksand;
        font-size: 1.5rem;
        text-decoration-line: none;
        color: var(--primary);
    }
    .dropdown-content li{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: .4rem;
        grid-row-gap: 0px;
    }
    .dropdown-content ul li:last-child{
        margin-right: 1rem ;
    }
        .dropdown-content ul li .content-img{
            grid-area: 1 / 1 / 3 / 2;
            border-radius: 5px;
            
        }
        .dropdown-content img{  
            object-fit: cover;
        }
        .dropdown-content ul li h2{
            grid-area: 1 / 2 / 2 / 3;
            
        }
        .dropdown-content ul li a{
            grid-area: 2 / 2 / 3 / 3;
        }
        .drp-content-text{
            color: var(--primary);
            font-family: quicksand;
            margin-left: .3rem;
            text-decoration: none;
            text-overflow: ellipsis;
        }
        .dropdown-custom:hover>.dropdown-content{
            display: flex;
        }

