@import url(../palette.css);
@font-face {
    font-family: quicksand;
    src: url(../Resources/QuickSand/Quicksand-SemiBold.ttf);
}
@media (min-width: 1200px), (min-width: 960px) and (-webkit-device-pixel-ratio: 1.25) {
  /* Add Styles Here */
  body{
    overflow-x: hidden;
  }
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  position: relative;

  background: var(--whiteLowContrast);
  /* background: linear-gradient(
    180deg,
    rgba(151, 84, 203, 1) 0%,
    rgba(187, 132, 159, 1) 50%,
    rgba(242, 205, 92, 1) 100%
  ), repeat;  */
}
.navbar-custom{
  height: 10vh;
  background-color: var(--primary);
}

.container-custom{
  height: 100%;
  align-items: center;
}
.lni-arrow-left{
  color: var(--secondary);
  font-weight: bold;
  margin-left: 3vw;
  transition: all .2s;
}
.page-address{
  margin-left: 2em;
  display: flex;
  flex-direction: row;
  gap :.5rem;
  align-items: center;
}
  .address{
      font-family: quicksand;
      font: 600;
      font-size: 1.3rem;
      color: var(--secondary);
      text-decoration: none;
      transition: all .2s ease;
  }
.ft{
  font-size: 20px;
}
.img{
  width: 100px;
  height: 100px;
}
.btn-delete{
  background:var(--accent);
}
.btn-purchase{
  background-color:var(--secondary);
  color: var(--primary);
}
.btn-purchase::hover{
  background-color:var(--secondary);
  color: var(--primary);
  border: 3px solid black;
  border-radius: 5px;
}