@import url(/fonts.css);
@import url(/palette.css);
:root {
  --sizebox: 6%;
}
body{
  background-color: var(--primary);
}
.swiper {
  margin-bottom: 3rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide_btn {
  margin-bottom: 0.4rem;
}
.swiper-pagination-bullet-active {
  background: var(--primary);
}
/* style info */
@media screen and (min-width: 992px) {
  .product {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .product__images {
    width: 40%;
    height: 40%;
  }
  .product__info {
    width: 50%;
  }
  .shoe-size-chart img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
}
.product {
  margin-top: 1.5rem;
  padding-top: 2rem;
  border-top: 4px solid var(--secondary);
}
.product__images {
  margin: 0;
}
.product__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}
.product__available-sizes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-family: quicksand;
}
.product__size {
  width: var(--sizebox);
  height: 0;
  padding-bottom: var(--sizebox);
  margin: 0;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.product__size--bdr-black {
  border: 2px solid var(--secondary);
}
.product__size--bdr-black:hover {
  border-color: var(--accent);
  color: var(--accent);
}
.product__size--bdr-black:focus, .selected {
  border-color: var(--accent);
  color: var(--accent);
}
.product__size > * {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__Status {
  font-family: quicksand;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.product__Status span {
  font-size: 3.5rem;
}
.product__Status h4 {
  margin: 0 0.5rem;
}
.product__Status--green {
  color: var(--bs-green);
}
.product__Status--red {
  color: var(--bs-orange);
}
.product__purchase_options {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: quicksand;
  gap: 0.5rem;
}
.purchase__options {
  position: relative;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.purchase__options p {
  margin: 0;
}
.purchase__options span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2rem;
  margin: auto 0;
}
.purchase__options i {
  font-size: 1.5rem;
}
.purchase__options--black {
  background-color: var(--secondary);
  color: var(--primary);
}
.purchase__options--black:hover:enabled {
  filter: brightness(120%);
}
.purchase__options--red {
  background-color: var(--accent);
  color: var(--primary);
}
.purchase__options--red:hover:enabled {
  filter: brightness(120%);
}
.product__detail {
  margin-top: 1rem;
}
.product__detail > * {
  font-family: quicksand;
  font-size: 1rem;
}
.shoe-size-chart {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  border-top: 2px dashed var(--secondary);
  margin-top: 2.5rem;
  font-family: quicksand;
}
.shoe-size-chart img {
  object-fit: contain;
}
.shoe-size-chart h2 {
  margin: 2rem 0;
}
.description {
  color: var(--secondary);
  font-size: 1.3rem;
  font-family: quicksand;
  border-top: 2px dashed var(--secondary);
  margin-top: 2.5rem;
}
.description > :first-child {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.description :nth-child(2) {
  text-indent: 5%;
}
/* product gallery */
.gallery-header{
  margin-bottom: 1.5rem;
  padding-top: 2rem;
  border-top: 2px dashed var(--secondary);
  margin-top: 2rem;
}
.gallery {
  width: 100%;
}
.gallery__item {
  width: 30%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__item img {
  display: block;
  object-fit: cover;
}
.nav_btn {
  color: var(--primary);
  font-weight: bold;
}
/* style product quality */
.product__quantity{
  font-family: quicksand;
  margin-bottom: 2rem;
}
.product__quantity-selector-group{
  width: 25%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  transition: all .3s ease;
}
.product__quantity-selector-group button{
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 25%;
  transition: all .3s ease;
}
.product__quantity-selector-group .btn-plus{
  border-radius: 0 5px 5px 0;
}
.product__quantity-selector-group .btn-minus{
  border-radius: 5px 0 0 5px;
}
.product__quantity-selector-group button i{
  border: 0;
  margin: 0;
  font-weight: bold;
  font-size: .8em;
}
.--btn-black{
  background-color: var(--secondary);
}
.--btn-black:hover{
  background-color: var(--accent);
}
/* .--btn-black:active{
  background-color: var(--accent);
} */
.product__quantity-remain{
  margin: .5rem 0 ;
  font-style: italic;
}
.product__quantity-selector{
  text-align: center;
  width: 50%;
  border: 0;
  caret-color: var(--secondary);
}
.--input-white{
  background-color: var(--primary);

}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button:disabled,button[disabled]{
  background-color: #646464;
}

